# ClickHouse - Capa Analítica (OLAP)
CLICKHOUSE_DB=urbanbike
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=secret_clickhouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123

# PocketBase - Capa Operativa (OLTP)
PB_SUPERUSER_EMAIL=admin@urbanbike.com
PB_SUPERUSER_PASSWORD=secret_pocketbase
PB_URL=http://localhost:8090

# FastAPI Sessions
SECRET_KEY=cambia-esto-en-produccion
